{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block body %}
    <form class="pagination ">
      <span class="step-links">
        {% if Hentai.has_previous %}
            <a href="?p={{ Hentai.previous_page_number }}&every_page_shows={{ every_page_shows }}">上一页</a>
        {% endif %}
          <span class="current">
            第 {{ Hentai.number }} 页，共 {{ Hentai.paginator.num_pages }} 页.
          </span>
          {% if Hentai.has_next %}
              <a href="?p={{ Hentai.next_page_number }}&every_page_shows={{ every_page_shows }}">下一页</a>
          {% endif %}
          <label class="current">.每页显示</label><input style="width: 100px" type="number" name="every_page_shows" value="{{ every_page_shows }}">
            <button type="submit" class="btn btn-default">提交</button>
      </span>
    </form>
    <table class="table table-hover table-bordered table-striped table-condensed table-responsive" style="margin:10px;">
        <tr style="font-size:14px;">
            <th>作品名</th>
            <th>Parody</th>
            <th>Ranking</th>
            <th>Status</th>
            <th>Release_Year</th>
            <th>View</th>
            <th>Author</th>
            <th>Artist</th>
            <th>Category</th>
            <th>Content</th>
            <th>Character</th>
            <th>Language</th>

        </tr>
        {% for i in Hentai %}
            <tr style="font-size:14px;">
                <td><a target="_blank" href="/hentai2read/?hentai2read_id={{ i.id }}">{{ i.name }}</a></td>
                <td>{{ i.Parody }}</td>
                <td>{{ i.Ranking }}</td>
                <td>{{ i.Status }}</td>
                <td>{{ i.Release_Year }}</td>
                <td>{{ i.View }}</td>
                <td>{{ i.Author }}</td>
                <td>{{ i.Artist }}</td>
                <td>{{ i.Category }}</td>
                <td>{{ i.Content }}</td>
                <td>{{ i.Character }}</td>
                <td>{{ i.Language }}</td>
            </tr>
        {% endfor %}
    </table>
    <form class="pagination ">
      <span class="step-links">
        {% if Hentai.has_previous %}
            <a href="?p={{ Hentai.previous_page_number }}&every_page_shows={{ every_page_shows }}">上一页</a>
        {% endif %}
          <span class="current">
            第 {{ Hentai.number }} 页，共 {{ Hentai.paginator.num_pages }} 页.
          </span>
          {% if Hentai.has_next %}
              <a href="?p={{ Hentai.next_page_number }}&every_page_shows={{ every_page_shows }}">下一页</a>
          {% endif %}
          <label class="current">.每页显示</label><input style="width: 100px" type="number" name="every_page_shows" value="{{ every_page_shows }}">
            <button type="submit" class="btn btn-default">提交</button>
      </span>
    </form>


    <script src="/static/js/jquery-1.10.2.min.js"></script>

{% endblock %}