{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block body %}
    <h1 class="text-center">
        {% for i in hentai2read_img %}
            {% if forloop.first %}
                {{ i.name }} <br><br>
            {% endif %}
        {% endfor %}
    </h1>

    <table class="table table-hover table-bordered table-striped table-condensed table-responsive" style="margin:10px;">
        <tr>

            <th>序号</th>

            <th>图片url</th>
        </tr>
        {% for i in hentai2read_img %}
            <tr>
                <td><a href="/images/?img={{ i.image }}" target="_blank">{{ i.img_index }}</a></td>
                <td>
                    <a target="_blank" href="/images/?img={{ i.image }}">{{ i.image }}</a>
                </td>

            </tr>
        {% endfor %}
    </table>

{% endblock %}